.auth__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.auth__link {
  text-decoration: none;
  font-size: 12px;
}

.auth__link_type_signin {
  background: #2be080;
  color: #000000;
  border-radius: 3px;
  margin-left: 30px;
  padding: 8px 20px;
}

.auth__link_type_signup {
  color: #ffffff;
}

@media screen and (max-width: 450px) {
  .auth__link {
    font-size: 10px;
  }

  .auth__link_type_signin {
    margin-left: 14px;
    padding: 5px 12px;
  }
}
