.greeting {
  display: flex;
  flex-direction: column;
}

.greeting__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0;
}

.greeting__logo {
  width: 38px;
  height: 38px;
  transition: opacity 0.3s ease-in-out;
}

.greeting__logo:hover {
  opacity: 0.8;
}

.greeting__link {
  width: fit-content;
  margin-bottom: 40px;
}

@media screen and (max-width: 450px) {
  .greeting__link {
    align-self: center;
    margin-bottom: 50px;
  }
  .greeting__text {
    text-align: center;
  }
}
