.footer {
  padding: 80px 70px 20px;
  text-align: center;
}

.footer__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a0;
  margin: 0 0 20px;
}

.footer__nav-list {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  display: flex;
  align-self: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin: 0;
}

.footer__nav-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 80px 30px 20px;
  }
}

@media screen and (max-width: 657px) {
  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__nav-item {
    margin-bottom: 12px;
  }

  .footer__nav-link {
    margin: 0;
  }

  .footer__copyright {
    margin-top: 18px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding: 80px 10px 10px;
  }
}
