.auth {
  margin-top: 180px;
}

.auth__submit-button {
  width: 100%;
  background: #ff6838;
  border-radius: 3px;
  padding: 14px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  border: none;
  outline: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.auth__submit-button:hover {
  opacity: 0.8;
}

.auth__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
}

.auth__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ff6838;
  text-decoration: none;
  margin-left: 6px;
  transition: opacity 0.3s ease-in-out;
}

.auth__link:hover {
  opacity: 0.8;
}

.auth__redirect {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

@media screen and (max-width: 800px) {

  .auth__redirect {
    justify-content: center;
  }

}

@media screen and (max-width: 450px) {

  .auth {
    margin-top: 267px;
  }
  .auth__link {
    font-size: 12px;
    line-height: 15px;
    margin-left: 7px;
  }

  .auth__paragraph {
    font-size: 12px;
    line-height: 15px;
  }

}
